/* http://www.colorcombos.com/color-schemes/14/ColorCombo14.html */

.todo-wrapper {
  background: #F1F0FF;
}

.btn {  
  border: 1px solid #6D929B;   
  background: #C3C3E5;
  color: #443266;  
}

h2 {
  color: #8C489F; 
}

li {
  color: #8C489F; 
}